BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
