[submodule "parser"]
	path = components/parser
	url = git@github.com:habakan/wasm-psbt-parser.git
[submodule "qr/quirc"]
	path = components/qr/quirc
	url = git@github.com:habakan/quirc.git
	branch = mcu
